.slidecontainer {
    width: 100%; /* Width of the outside container */
    padding-bottom: 2em;
  }
.inline {
    display: inline;
}
  
.img {
    height: 500px;
}

#preview-sml{
    height: 200px;
}

.flexcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.flexrow {
    flex-direction: row;
    flex-wrap: wrap;
}


 